{% extends 'base.html' %}

{% block title %}{{ post.title_post }} | {% endblock %}

{% block content %}

<div class="container">
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="text-center">
            <h1>{{ post.title_post }}</h1><br>
            <h5>{{ post.summary_post }}</h5>
            <p class="text-muted mt-4">
                <small>
                    {{ post.author_post }} | {{ post.date_post }} | {{ post.category_post }}
                </small>
            </p>
        </div>
        <div class="col-xl"></div>
    </div>

    <div style="width: 100%;">
        <div class="text-center">

            {% if post.image_post %}
            <img class="img-fluid pb-5 rounded" src="{{ post.image_post.url }}" alt="">
            {% endif %}
        </div>
        <div class="text-justify" style="width: 100% !important;">
            {{ post.content_post|safe }}
        </div>
    </div>

    {% if comments %}
    <div class="row pt-5">
        <div class="col-xl-8">
            <h2 class="my-3">Comments ({{comments.count}})</h2>

            {% for comment in comments %}

            <h5 class="mb-2 mt-5">{{ comment.name_comment }} said:</h5>
            <small class="text-muted">{{ comment.date_comment }}</small>
            <p class="mb-1">{{ comment.comment }}</p>

            {% endfor %}


        </div>
    </div>
    {% endif %}

    <div class="row pt-5">
        <div class="col-xl-8">
            <h2 class="my-3">Leave a comment</h2>

            <form method="POST" action="#send_comment">
                {% csrf_token %}

                <table class="table-responsive">
                    {{ form }}
                    <tr>
                        <td colspan="2">
                            {% include 'partials/_messages.html' %}
                            <input id="send_comment" type="submit" class="btn btn-primary float-right" value="Send">
                        </td>
                    </tr>
                </table>
            </form>


        </div>
    </div>
</div>


{% endblock %}